<!DOCTYPE html>
<html>

<head>
    <title>Stock Selector</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="container" class="form-group">
    <div class="page-header">
        <h1>Stock Selector</h1>
    </div>
    <br>
    <label for="usr">Give us some ideas, to help select your stocks today:</label>
    <br>
    <form action="{{url_for('results')}}" method="POST">

        <br>
        <p> How do you feel about risk?</p>

        <select name="risk">
            <option value="0">I still ride my bike with stabilizers (Low)</option>
            <option value="1">I like a little risk (Medium)</option>
            <option value="2">I'm feeling adventerous (High)</option>
            <option value="3">Don't hold back! (Very High)</option>
        </select>

        <br>
        <br>
        <p>Any sector preferences?</p>

        <select name="sector">
            <option value="Financials">Financials</option>
            <option value="Materials">Materials</option>
            <option value="Industrials">Industrials</option>
            <option value="Utilities">Utilities</option>
            <option value="Information Technology">Information Technology</option>
        </select>
        <br>
        <br>
        <p>Like any particular strategies?</p>

        <select name="strategy">
            <option value="Value">I love "Value"</option>
            <!--option value="growth">I want "Growth"</option-->
            <option value="Income">Get me "Income" please</option>
            <!--option value="random">Random</option-->
        </select>
        <br>
        <br>
        <p>How many results do you want (more take time)?</p>
        <select name="number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <br>
        <button type="submit" style="width:12%" class="btn btn-default">Submit</button>
    </form>
</div>


<br>
<br>
<footer>
</footer>
</div>
</body>

</html>