<!DOCTYPE html>
<html>

<head>
    <title>Stock Selector</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="container" class="form-group">
    <div class="page-header">
        <h1>Stock Selector</h1>
    </div>
    <br>
    <label for="usr">Give us some ideas, to help select your stocks today:</label>
    <br>
    <form action="{{url_for('results')}}" method="POST">

        <br>
        <p> How do you feel about risk?</p>

        <select name="risk">
            <option value="low">I still ride my bike with stabilizers (Low)</option>
            <option value="medium">Medium</option>
            <option value="high">I'm feeling adventerous (Medium)</option>
            <option value="very_high">Don't hold back! (Very High)</option>
        </select>

        <br>
        <br>
        <p>Any regional preferences?</p>

        <select name="market">
            <option value="UK">UK</option>
            <option value="USA">USA</option>
            <option value="EU">EU</option>
            <option value="Asia">Asia</option>
            <option value="Any">Any</option>
        </select>

                <br>
        <br>
        <p>Like any particular strategies?</p>

        <select name="strategy">
            <option value="value">I love Value</option>
            <option value="growth">I want growth</option>
            <option value="momentum">Momentum</option>
            <option value="momentum">Random</option>
        </select>
        <br>
        <br>
        <button type="submit" style="width:12%" class="btn btn-default">Submit</button>
    </form>
</div>


<br>
<br>
<footer>
</footer>
</div>
</body>

</html>