<!DOCTYPE html>
<html>

<head>
    <title>{{postcode}} Selector Results</title>
    <meta charset="UTF-8">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<p> Table with all results</p>

</div>
        <br>
        <br>
        <br>
        <br>{{table| safe}}
        <br>
        <p>Click <a href="/index">here</a> to go home</p>
        <br>
        <br>
    </div>

</body>

</html>